@model AuroraRD.Models.Reservas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Botella)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Botella)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numAsistentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numAsistentes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
