@model IEnumerable<AuroraRD.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Botella)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numAsistentes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                
            <td>
                @Html.DisplayFor(modelItem => item.NombreReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                
                        @if (item.Botella)
                        {
                        <p><a asp-area="" asp-controller="Liquido" asp-action="Index">Seleccionar botella</a></p>
                        }
                        else
                        {
                        }
             
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numAsistentes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p><a asp-area="" asp-controller="Home" asp-action="Menu">Volver a menu</a></p>
