@model IEnumerable<AuroraRD.Models.Liquido>

@{
    ViewData["Title"] = "Bebida";
}

<h1>BEBIDAS</h1>

<p>
    <a asp-action="Create">Agregar una bebida</a>
</p>
<table class="table" id="white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.imagen"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
           <td>
            @Html.DisplayFor(modelItem => item.Precio)
            </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
<p id="white"><a asp-area="" asp-controller="Home" asp-action="Menu">Volver a menu</a></p>
<p><a asp-area="" asp-controller="Reservas" asp-action="Index">Volver a reserva</a></p>
